.btn {
  margin-left: 17px;
  width: 160px;
  height: 40px;
  border: 1px solid $main-color;
  border-radius: 30px;
  font-size: 12px;
  line-height: 1.83;
  text-align: center;
  color: #fff;
  background-color: $main-color;
  text-transform: uppercase;
  transition: 0.4s;
  &:hover {
    cursor: pointer;
    background-color: rgba(236, 100, 75, 0);
  }
}
