.benefits {
  min-height: 590px;
  background-color: #f3f3f3;
  padding: 58px 20px 51px 20px;
  &__title {
  }
  &__grid-container {
    display: grid;
    grid-template: repeat(4, minmax(62px, auto)) / repeat(2, 523px);
    grid-auto-rows: minmax(62px, auto);
    row-gap: 36px;
    justify-content: space-between;
  }
  &__grid-item {
    display: grid;
    grid-template: 20px auto / 62px 443px;
    column-gap: 17px;
  }
  &__grid-item1 {
  }
  &__grid-item-img {
    display: block;
    margin-left: 0;
    grid-row: 1/3;
    grid-column: 1/2;
  }
  &__grid-item-title {
    margin-left: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    color: $main-color;
    grid-row: 1/2;
    grid-column: 2/3;
  }
  &__grid-item-descr {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $black-color;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  &__grid-item2 {
  }
  &__grid-item3 {
  }
  &__grid-item4 {
  }
  &__grid-item5 {
  }
  &__grid-item6 {
  }
  &__grid-item7 {
  }
  &__grid-item8 {
  }
}
.container {
}
.title {
  margin-bottom: 32px;
}
