.promo {
  min-height: 680px;
  padding: 23px 0 82px 0;
  background: url("../img/promo_bg.jpg") center center no-repeat;
  .container {
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__list {
        display: flex;
        list-style: none;
      }
      &__link {
        position: relative;
        margin-right: 25px;
        &:last-child{
          &:after {
            content: none;
          }
        }
        &:after {
          position: absolute;
          top: 9px;
          right: -20px;
          display: block;
          content: "................";
          opacity: 1;
          letter-spacing: 1px;
          font-size: 1px;
          color: #fff;
          width: 15px;
          height: 1px;
          transform: rotate(90deg);
        }
        a {
          font-size: 15px;
          line-height: 1.13;
          color: #fff;
          text-decoration: none;
        }
        &_active {
          padding-bottom: 4px;
          border-bottom: 1px solid $main-color;
          a {
            color: $main-color;
          }
        }
      }
      &__title {
        text-align: right;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 2px;
      }
      &__phone {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
      }
      &__button {
        margin-left: 17px;
        width: 160px;
        height: 40px;
        border: 1px solid $main-color;
        border-radius: 30px;
        font-size: 12px;
        line-height: 1.83;
        text-align: center;
        color: #fff;
        background-color: $main-color;
        text-transform: uppercase;
        transition: 0.4s;
        &:hover {
          cursor: pointer;
          background-color: rgba(236, 100, 75, 0);
        }
      }
    }
    .logo {
      img {
        margin-right: 35px;
        width: 95px;
        height: 99px;
      }
    }
    .nav {
    }
    .questions {
    }
  }
}
